@media only screen and (min-width: 641px) {

/*-----BANNER -----*/	
#banner {
    background-image: url(../img/FeatureGraphic1140x400.png);
    height: 400px;
}

/*-----NAVIGATION -----*/	
nav ul li a br {display: none;}

/*-----CONTENT -----*/

/*---- COLUMNS ---*/
.column-6, .column-4, .column-3, .column-2 {
	float: left;
}

.column-2 {
	width: 33.333%;
}

.column-3 {
	width: 25%;
}

.column-4 {
	width: 33.333%;
}

.column-6 {
	width: 50%;
}

/* PHOTO STYLING */
figure.col4 {
    width: 23%;
}

} /*end of the media query */